<a class="sidebar-box" href="/contribute">
	<h6>Hey trendsetter, we need your help!</h6>
	<img src="{{ '/uploads/2020/07/donate.png' | url }}">
	<p>We are a 100% volunteer organization. Contributors share expertise free of charge because they believe in our mission to fight information warfare by teaching how it is used and why it is effective. Together we can bring a shared reality back into focus by challenging ourselves to explore our own perceptions, question our opinions, and better understand our differences through expertise, education, and empathy.</p>
	<p><em>We can't do what we do without you!</em></p>
	<p>While most of the heavy lifting is done free of charge, Fight With Your Mind has bills to pay. Even small contributions help us cover costs such as hosting, licensing, and other fees associated with keeping the site online.</p>
</a>
<a class="sidebar-box" href="/coming-soon">
	<h6>Become a Contributor</h6>
	<img src="{{ '/uploads/2020/07/contributor.png' | url }}">
	<p>Fight With Your Mind welcomes contributor submissions. To support our mission, FWYM relies on experts from an array of industries, professions, and public service posts to voice their unique and important knowledge.</p>
	<p>Read through our submission guidelines & submit your content for approval.</p>
</a>
<a class="sidebar-box" href="/featured-cause">
	<h6>Featured Cause</h6>
	<img src="{{ '/uploads/2020/07/charity.png' | url }}">
	<p>Fight With Your Mind is a proud advocate for "lost causes" and works hard to bring overlooked issues into the light. We donate 100% of the funds we collect here to help those that have fallen through the many cracks of our society, and support worthy causes that have been overlooked, even by other charities.</p>
</a>
