<div id="social-grid">
	<a href="/category/questioning-and-thought/" class="grid1">
		<img class="foursquarefight hover-big" src="/uploads/2019/12/questioning-and-knowledge.png" alt="questioning-and-thought">
	</a>
	<a href="/category/deprogramming-and-education/" class="grid2">
		<img class="foursquarefight hover-big" src="/uploads/2019/12/deprogramming-and-education.jpg" alt="deprogramming-and-education">
	</a>
	<a href="/category/the-expanse/" class="grid3">
		<img class="foursquarefight hover-big" src="/uploads/2019/12/the-expanse.png" alt="the-expanse">
	</a>
	<a href="/category/communication-and-empathy" class="grid4">
		<img class="foursquarefight hover-big" src="/uploads/2019/12/communication-and-empathy.jpg" alt="communication-and-empathy">
	</a>
	<a href="/category/meaningful-action/" class="grid5">
		<img class="foursquarefight hover-big" src="/uploads/2019/12/meaningful-action.png" alt="meaningful-action">
	</a>
</div>
