---
layout: layout.njk
title: You Can't NOT Think - Fight With Your Mind
---
<section id="home-hero">
	<div class="column column-50">
		<img width="100%" height="auto" src="/uploads/2020/06/FWYM-hero.png" alt="">
	</div>
	<div class="column column-50">
		<h5 style="color: #e39600; font-size:1.2rem;">FIGHT WITH YOUR MIND PRESENTS:</h5>
		<h1 style="color: #ffffff;">You Can't NOT Think</h1>
		<h4 style="color: #e39600; font-size:1rem; margin-top: 0;">An art piece to promote the shared reality movement.</h4>
		<p>Repurposing marketing tactics to create a mass art piece that sends a message to the public: <i>"You Can't NOT Think"</i>. Welcome to the movement that explores society's departure from shared reality and the journey back to it.</p>
	</div>
</section>

<section class="orange-row center-row">
	<img src="/uploads/2019/10/todays-lesson.png">
</section>

<section>
	<div class="column column-50">
		<h1 class="align-with-movement">How Sure Are You That Your Thoughts Are Your Own?</h1>
		<h5>A MARKETER'S PERSPECTIVE ON SOCIETY'S DEPARTURE FROM OUR SHARED REALITY.</h5>
		<h4 style="color:#e39600;">Look Around You</h4>
		<p>Marketing is everywhere - subtly and not so subtly placed on almost every surface you look at and even laced in many of the sounds you hear.</p>
		<p>When we go to such great lengths with years of education or study to purposefully program information into our brains, it almost seems impossible that much of what our brain is wired to know and recall was put there without our conscious consent. We know the words to jingles for years past when commercials ran, we recognize signs for chains we have never eaten at, we know the logo and slogan for every major corporation in the country, and without a moment's hesitation, we can complete sentences and word associations that have been unconsciously absorbed through incessant repetition.</p>
		<blockquote>What do we really know that reflects what we think, and what have we been told that we never really questioned?</blockquote>
		<p>Where is the line between the two and why are we collectively not more upset that precious real estate in our brains is being taken up by sources that tend to use us and manipulate us, all without even being privy to their end game? One would think these influences should at minimum pay rent for the space.</p>
		<p>The line between dirty politics, brainwashing, and misuse of marketing has become very blurry, and it has become difficult to trust that what we are told is true. Manipulation has become the weapon of choice for modern warfare between countries, between politicians and constituents, and between each other.</p>
		<p>For those of us that understand these rules of influence, we must collectively stop preying on the psychology of predictable human behaviors and instead teach those that do not to protect themselves by gaining an understanding of how they are being used.</p>
		<blockquote>Now, in this new world where wars are shots to the brain, the future of defense is also in ourselves.</blockquote>
		<p><em>We must think.</em> A simple sounding idea that clearly cannot be simple because we have stopped doing it. It is an understandable offense when one considers the volume of opinions, facts, and lies we are told are facts that we must consider and wade through each day.</p>
		<p>But the defense against brainwashing is in questioning what we are told, in thinking and cross referencing statements in as many ways as possible, and in trying to poke holes in what we hear to test its validity. If it is the truth it will stand up to scrutiny.</p>
		<p>If it is the truth it will come out. Lies are temporary manipulations, and when we discover them in ourselves we must not hold onto our pride, we must accept truth, real truth, or our common ground will vanish.</p>
		<p><em>This is our only hope in a war without guns, without battlefields, without even knowing or consenting soldiers. We must not be used. The path to ending this war on our thoughts is to think.</em></p>
	</div>
	<div class="column column-50">
		<div>
			<img src="/uploads/2020/07/movement-message.png">
			<a class="orange-button" href="#participate">Participate in the Project</a>
		</div>
		<div>
			<img class="icon-title-ico" src="/uploads/2020/07/influence.png">
			<h4 class="icon-title">UNDER THE INFLUENCE</h4>
			<img src="/uploads/2020/07/YCNT-dropcap.png" id="YCNT-dropcap">
			<p><b>We must think for ourselves or we will be controlled by others.</b> There is a science and a psychology to influencing the masses that honorable marketers use to predictably influence the flow of the eye or the mood of the viewer, however without a moral check or balance, these tactics and principles can be used to manipulate and even brainwash targeted viewers. This influence we are all under is hidden in the imagery and messaging that we see and hear thousands of times a day in modern society. We are influenced by more than we understand because these tactics were designed to make individuals act without thinking.
			<br><br>
			Unlike art in a gallery where one decides how to feel about the piece that's being presented, commercial art and marketing are structured with the intention to cause a specific desired feeling or action from the viewer. Politicians have been borrowing from this tool box for many years, targeting vulnerabilities in each demographic and playing on the fears, needs, or situation that audience struggles against.</p>
			<p><b>As marketers and keepers of this precious knowledge, we felt a responsibility to the public to share these tactics to fight back against those that seek to use our industry to create division, cause false fear, and abuse the vulnerabilities we all have. Think. Make sure that what you think isn't someone else's talking point.</b></p>
		</div>
		<div class="inset-box">
			<h2>RULE OF SEVEN</h2>
			<p>In marketing, one of the oldest principles is "The rule of seven", which essentially is about the power of repetition. It is the average number of times that an individual needs to see or hear a message to lock it into memory or take action. While this might seem insignificant, marketers understand that familiarity with a message or product is one of the most powerful tools that can be used to draw potential customers.
			<br><br>
			Fight With Your Mind is harnessing this same power of repetition to create familiarity with the <i>"You Can't NOT Think"</i> movement. <b>Participating in this art piece contributes to one of the seven places someone will need to see or hear about the concept before human nature compels them to find out more.</b> Make sure to include the link in addition to the words <i>"You Can't NOT Think"</i> so that once public interest has piqued, the power of Fighting With Your Mind can spread.</p>
		</div>
	</div>
</section>

<section class="dark-orange-row center-row title-row">
	<div>
		<img src="/uploads/2019/12/get-involved.png" style="display: block; max-width: 100%; width:700px;">
		<h6>There are three main ways to participate with Fight With Your Mind:</h6>
	</div>
</section>

<section class="gray-row" id="crowd-row">
	<div class="inset-row" id="crowd-grid">
		<div class="column top-column" id="spread">
			<h5>1. Spread the word to the public by participating in the art piece.</h5>
			<p>Follow the simple instructions below to get started.</p>
		</div>
		<div class="column top-column" id="follow">
			<h5>2. Follow Fight With Your Mind pieces and projects</h5>
			<img src="/uploads/2019/12/question-think-600x44.png">
			<a class="orange-button" href="/fighting">Start Fighting With Your Mind</a>
		</div>
		<div class="column top-column" id="share">
			<h5>3. Follow and post on our non traditional social media pages</h5>
			<p>Share how you participated by posting a photo with <span style="color: #e39600;">#youcantNOTthink</span>
			<br><br>
			Try our Facebook challenges. We strive to provide a better example of how social media can be used by creating an environment centered around thoughtful internal challenges and the sharing of personal growth.</p>
		</div>
	</div>
	<div class="inset-row">
		<div class="two-thirds-column">
			<p>Or if you would like to become a contributor to one of our upcoming pieces or projects, please <a href="/pledge">get in touch</a>.</p>
		</div>
	</div>
</section>

<section class="orange-row" style="display: block;">
	<div style="text-align: center; padding:4vw 2vw;">
		<img src="/uploads/2020/06/participate.png" style="width: 1000px; max-width: 100%;">
	</div>
	<div class="desktop-flex">
		<div class="column">
			<h6>Our vision is to create a mass art piece, made by the public for the public that is high impact through repetition, creativity, and curiosity.</h6>
			<p><em>Repetition:</em> Individual pieces include a common message "You Can't NOT Think – FightWithYourMind.org". Using the "Rule of 7", the public becomes familiar with the movement as more and more art pieces appear.</p>
			<p><em>Creativity:</em> It is the creativity of each individual participant that transforms messaging into art. Messaging is intended to be absorbed in a predetermined and purposeful manner, as where art is intended to make people think and feel in a way that is honest to the self.</p>
			<p><em>Curiosity:</em> The combination of repetition and creativity builds curiosity about the movement. Repetition alone, and creativity alone don't necessarily create curiosity. It is the diversity and individuality of each piece that creates the necessary level of public interest to learn about the common thread all pieces display: "You Can't NOT Think – FightWithYourMind.org".</p>
			<br>
			<h6>Using Marketing principles to spread a unified positive message to the public</h6>
			<p>We invite all people to join our effort to refocus and utilize this knowledge of human behavior, art, form, flow and influential marketing and communications tactics to create one unified message that provokes thought and encourages us all to think, to consider, to analyze, and to listen.</p>
			<p><em>The only requirement is to include the words <i>"You Can't NOT Think"</i> and "FightWithYourMind.org"</em></p>
			<p>Marketers, printers, artists, networkers, promotions professionals, sidewalk chalk kids and those with a desire to spread their voice: We call on you to use your powers of visual, virtual, and vocal communication to display globally, but more specifically domestically, a powerful reminder. <b>We are only in charge if we think for ourselves.</b></p>
		</div>
		<div class="column" style="margin-top:0;">
			<img class="icon-title-ico" src="/uploads/2020/07/multimedia.png">
			<h4 class="icon-title">Example Projects</h4>
			<p>Please do not include any messages of hate. Fight With Your Mind is not about belittling others, but rather encouraging accountability for how we all ingest information and making better decisions to help us differentiate between fact and fiction.</p>
			<p>Fight With Your Mind is an advocate of individuality and expression. Expand the depth of the art piece by including what <i>"You Can't NOT Think"</i> means to you.</p>
			<p><em>Below are some example projects to help inspire ideas:</em></p>
			<div id="slideshow">
				<div class="slide-wrapper">
					<div class="slide"><img src="/uploads/2020/01/the-truth-can-handle-your-questions.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/equality-means-that.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/know-your-history.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/learn-my-pronoun.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/BLM.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/percent-of-a-man.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/someone-you-hate-mural.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/wear-a-mask.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/without-facts-there-is-no-shared-reality.jpg"></div>
					<div class="slide"><img src="/uploads/2020/07/You-have-rights-until.jpg"></div>
				</div>
			</div>
			<p class="small-p">Keep it legal. WE HAVE TO PUT IT IN WRITING. Not surprisingly, those that do not think often take ideas and run in stupid directions with them. We do not condone any illegal presentations of this message. Change is most effective when working from inside the system - "You can do a hell of a lot more damage from inside the system than you can outside of it" -SLC Punk lessons!</p>
		</div>
	</div>
	<div id="other-ideas">
		<img class="icon-title-ico" src="/uploads/2020/07/other-ideas.png">
		<h4 class="icon-title">"You Can't Not Think" Project Prompts</h4>
		<p style="text-align: center; max-width: 1000px; margin:auto; padding: 0 2vw;">There are endless ways to participate. <em>The following are some examples of how we can put the RULE OF 7 to work!</em> We truly hope that someone out there will take on some of these!</p>
	</div>
	<div class="frontpage-grid">
		<div class="Music">
			<h4>If you are an Artist</h4>
			<img src="/uploads/2020/07/art-icon.png">
			<div class="fp-grid-content">
				<p><em>Visual Artists:</em> use your own aesthetic to express what <i>"You Can't NOT Think"</i> means to you.</p>
				<p><em>Musicians:</em> write a song titled <i>"You Can't NOT Think"</i>.</p>
				<p><em>Performers:</em> create a show called <i>"You Can't NOT Think"</i>.</p>
			</div>
		</div>
		<div class="Art">
			<h4>If you're not an Artist</h4>
			<img src="/uploads/2020/07/not-art-icon.png">
			<div class="fp-grid-content">
				<p><em>Your participation is what makes it an art piece, not your artistic ability.</em></p>
				<p>Anything you create that can be seen by others that includes <i>"You Can't NOT Think – FightWithYourMind.org"</i> accomplishes the goal of the project.</p>
			</div>
		</div>
		<div class="Time">
			<h4>If you have more Time than Money</h4>
			<img src="/uploads/2020/07/time-icon.png">
			<div class="fp-grid-content">
				<p>Your time is an important contribution. Movements rely on people dedicating large amounts of time to speak to individuals one by one.</p>
				<p>Possibilities are endless! Share a unified message while making it your own.</p>
			</div>
		</div>
		<div class="Money">
			<h4>If you have more Money than Time</h4>
			<img src="/uploads/2020/07/money-icon.png">
			<div class="fp-grid-content">
				<p>Mass messaging costs money. Rent billboard space, ad space in newspapers, or team up with someone with more time than money and cover the printing costs for posters or flyers for your partner to hand out or post.</p>
			</div>
		</div>
		<div class="Industry">
			<h4>If you are in the Marketing Industry</h4>
			<img src="/uploads/2020/07/industry-icon.png">
			<div class="fp-grid-content">
				<p><b>Use your education, experience, and industry contacts to come up with your own unique and creative campaign to spread <i>"You Can't NOT Think"</i>.</b> Turn your knowledge into power. If you are a marketer, think systemically, if you are a printer use repetition, if you are in PR use your network, or if you are a visual artist use your power of focusing the eye. If you are creative be creative, if you are methodical be methodical. Use the world as your canvas!</p>
			</div>
		</div>
	</div>
</section>

<section class="gray-row center-row" style="padding: 2vw;">
	<h3 style="font-size: 2.5vmax;">join the movement by posting your art piece with <span style="color: #e39600;">#youcantnotthink</span></h3>
</section>

<section class="orange-row">
	<div class="column">
		<img src="/uploads/2020/07/theres-more.png">
	</div>
	<div class="column">
		<p><i>"You Can't Not Think"</i> is just one facet of <i>Fight With Your Mind</i>–the activism & advocacy group that created the shared reality movement. Browse our six categories of mind-expanding content!</p>
		<div style="text-align: center; margin: 30px 0;">
			<img id="bubble-info" src="/uploads/2020/07/info.png">
			<div id="bubble">
				<div class="bubble-container">
					<div class="bubble-carousel">
						<div class="bubble-inner">
							<p class="bubble-element">Question what you think you know</p>
							<p class="bubble-element">Work with facts, not propaganda</p>
							<p class="bubble-element">Arm yourself against information warfare</p>
							<p class="bubble-element">Push against your natural inclinations</p>
							<p class="bubble-element">Empathise and understand others</p>
							<p class="bubble-element">Educate yourself</p>
							<p class="bubble-element">Be the change you want to see</p>
							<p class="bubble-element">Create meaningful change</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p>Read content that is intended to help us grow as people, and re-establish a shared reality based on truth and facts. Get involved with our participation based challenges, activism projects, and alternative to traditional social media.</p>
		<p><em>Fight for truth, Fight With Your Mind!</em></p>
		<a href="/fighting" class="gray-button">Browse Fight With Your Mind Content</a>
	</div>
</section>

<section>
	<div class="column">
		<img src="/uploads/2020/06/brainwash.png">
	</div>
	<div class="column" style="flex:2;">
		<h2>ARE YOU BEING <i>Brainwashed?</i></h2>
		<p><i>The idea is not to convince you that their ideas are right, it is to program you like a computer.</i></p>
		<p>Brainwashing is a systematic programming of the human brain to react to information or cues in a specific desired manner. It is very subtle and highly invasive, and is done with the intent to alter everything from automatic responses to opinions without the subject ever realizing anything has changed. <b>Because it is nearly invisible, it can be difficult to see where one has been influenced.</b></p>
		<a class="orange-button" href="/category/deprogramming-and-education/#feature">Learn More About Brainwashing Tactics</a>
	</div>
</section>
