---
layout: layout.njk
title: Social - Fight With Your Mind
---
{% include "social-grid.njk" %}

<section id="social-row">
	<div class="centerme">
		<img src="/uploads/2020/07/social-header.png">
	</div>
	<div class="inset-row">
		<div class="column">
			<p class="social-subhead">On the Fight With Your Mind FB page we post personal challenges for growth, not likes.</p>
			<p><b>Many social media platforms are enablers and contributors to the spread of misinformation and information warfare, but the platform itself is not at fault for the irresponsibility of the users.</b></p>
		</div>
		<div class="column">
			<p class="social-subhead">Don't poison the possibilities. Social media, in large part, is what we make it.</p>
			<p><b>These platforms are brilliant tools that give us the opportunity to connect and interact, however many of us are reckless with our words, and instead use social media as an environment to tear each other down.</b></p>
		</div>
	</div>
</section>

<section style="display: block;">
	<h1>The skills we lost with our progress</h1>
	<p class="byline">–Honest Marketing and Business Development</p>
	<div class="inset-row">
		<div class="column">
			<p>For the generations that grew up associating improvements in technology with improvements in life, the long term negative impacts of technology have snuck right in with the positive contributions. We didn't question it or moderate the use of technology, giving it access to every aspect of our lives.</p>
			<p>Technology has changed the way we work and think, how much we communicate about ourselves and how much we communicate with others, the number and quality of relationships we maintain, and how we amuse ourselves from moment to moment.</p>
			<blockquote>We don't often think of what we have lost because we have overwhelmingly gained so very much. I find myself missing the little things that didn't even seem like skills we learned.</blockquote>
			<p>For example, the ability to sit still without being entertained or having our attention focused on something other than a device in front of us has all but disappeared, and in the generations that grew up with devices, this ability was never even developed.</p>
			<p>Universal abilities can impact the public as a whole. The inability to merely sit still without a device, when looked at across an entire public, shows not just a change in high percentages of individuals, but the loss of an entire skill set in less than one generation. Looking back, I feel that there are many qualities that we have lost touch with that are important.</p>
		</div>
		<div class="column" style="margin-top:0;">
			<p>We have diluted our lives with what we have added, even though we have benefited from the improvements that accompanied them. It seems that it is time to reassess, but should we really trust powerful social media companies to dictate the direction of that conversation?</p>
			<img class="icon-title-ico" src="/uploads/2020/07/search.png">
			<h4 class="icon-title">What We've Lost</h4>
			<div id="lost-list">
				<div id="lost-inner">
					<ul>
						<li><span style="color: #e39600">We developed a respect for knowledge</span> when we had to find qualified people to get the right information.</li>
						<li><span style="color: #e39600">We self-censored hurtful speech</span> when we were indebted to the others we relied on for their knowledge.</li>
						<li><span style="color: #e39600">We were more spatially aware</span> when we practiced our ability to give and follow directions instead of using GPS navigation.</li>
						<li><span style="color: #e39600">We thought more about what we wrote</span> when a letter took more time to write and send.</li>
						<li><span style="color: #e39600">We remembered information better</span> when accessing it was harder than remembering it.</li>
						<li><span style="color: #e39600">We had more realistic expectations</span> when our ability to create expectations was based upon in-person observations.</li>
						<li><span style="color: #e39600">We planned more</span> before everyone had a phone that went everywhere with us.</li>
						<li><span style="color: #e39600">We put more trust in strangers</span> when we had to ask people for directions.</li>
						<li><span style="color: #e39600">We thought for ourselves</span> when we didn't have the internet to give us all of our answers.</li>
					</ul>
				</div>
			</div>
			<div id="fade"></div>
			<p>In a world where society doesn't get votes on the moral compass of private business, the people are left with little influence, which is why it is so perplexing that we give away the little power we have – that of our online behavior.</p>
			<p><em>We must not allow ourselves to lose our own voices by being manipulated into sharing propaganda for others. We must censor ourselves by remembering that there are vulnerable humans reading the words we write. We must realize that our thoughtlessness alone isn't very powerful, but a population acting thoughtlessly on a platform with over 2.6 billion users sets trends for the behavior of the human race.</em></p>
		</div>
	</div>
</section>

<section id="libral-row" class="centerme">
	<div id="libral-card">
		<h6>A Better Alternative</h6>
		<p><i>Visit our Social Media Alternative, a site designed to help you slow down and think effectively. LibRAL Arts is a neural pathway re-training ground that requires the human brain to function, not just react.</i></p>
		<p><i>As marketers we have broken our own rules of pattern recognition, psychology, and data analysis to provide a site that encourages browsers to control what messages they ingest.</i></p>
		<p>–Honest Marketing and Business Development</p>
	</div>
</section>

<section id="experiment-row">
	<div class="column">
		<h1>The Experimental Facebook Page:</h1>
		<p>With participants in numbers more than any country or religion, the power Facebook has to influence all of humanity is enormous. There is certainly evidence of public manipulation, and the entire interface encourages a total lack of impulse control, but Facebook does not force us to lie or speak inconsiderately or inappropriately to each other.</p>
		<p>Facebook has shown that it will not adjust its policies to address these issues, and does not hold itself responsible for the consequences that occur when users manipulate the truth through their site or use the platform to abuse others. It's for this reason that our experiment concentrates on the users, not the company.</p>
		<p><em>In order to combat the behaviours that have been created as a result of this platform we must first stop using it as intended.</em></p>
		<a href="https://facebook.com/fightwithyourmind" target="_blank" rel="noopener" class="orange-button">Visit our Facebook Page</a>
	</div>
	<div class="column inset-box">
		<h2>The Experiment</h2>
		<p>We are performing a social experiment to see if the online community is capable of self control. Facebook claims to be a business with a mission to create better opportunities for communication and connection. This platform has been tested on the public for over a decade, and while it does indeed provide the opportunity it claims, it also encourages a variety of unhealthy and detrimental interactions. Our experiment will provide evidence for or against Facebook's claims. Can users help themselves, or has Facebook wired society to respond to their tactics so effectively that their claims simply aren't possible?</p>
		<p class="byline">Rules for the experiment:</p>
		<ul>
			<li><em>No Social Interactions</em><br>No commenting on others' submissions, no "liking" challenge posts, no form of communication with other participants. Interaction is limited to posting your own submissions, reading challenges, and browsing through submissions from challenge participants. We are going back to the basics to help focus the energy in the right place–listening to others, considering what they said, and incorporating their experiences into your world view.
			<br><br>
			Communicate your appreciation for content posted by others, not by liking it, but by learning from it!
			<br><br>
			Facebook employs tactics that have trained our society to feel these rules are wrong, but remember, this is an experiment about self control. All comments will be deleted, regardless of their content. We are attempting to create a safe environment for participants to share personal experiences.</li>
			<li><em>Follow the Instructions for the Challenge</em><br>If you have a different good idea, GREAT! But do it elsewhere. Please follow instructions provided with each challenge.</li>
		</ul>
	</div>
</section>
